<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Interfaz de Juego</title>
	<script src="https://cdn.tailwindcss.com"></script>
	<link rel="stylesheet" th:href="@{bootstrap/css/juegoEstilos.css}" />
</head>

<body class="cuerpoJuego">
	<!-- jugador 1.1-->
	<!-- jugador 2.1 -->
	<div class="jugador1 jugador">
		<div class="textos">
			<p class="nombre">Carlos Mataes</p>
			<p class="turno">1°</p>
		</div>
		<div class="img-contenedor">
			<img th:src="@{bootstrap/images/juego/carrojuego.png}" alt="">
		</div>
	</div>

	<!-- jugador 2 -->
	<div class="jugador2 jugador">
		<div class="img-contenedor">
			<img th:src="@{bootstrap/images/juego/carrojuego.png}" alt="">
		</div>
		<div class="textos">
			<p class="nombre">Chespirito</p>
			<p class="turno">2°</p>
		</div>
	</div>

	<!-- jugador 3 -->
	<div class="jugador3 jugador">
		<div class="img-contenedor">
			<img th:src="@{bootstrap/images/juego/carrojuego.png}" alt="">
		</div>
		<div class="textos">
			<p class="nombre">Monica</p>
			<p class="turno">3°</p>
		</div>
	</div>

	<!-- jugador 4 -->
	<div class="jugador4 jugador">
		<div class="textos">
			<p class="nombre">Juan</p>
			<p class="turno">4°</p>
		</div>
		<div class="img-contenedor">
			<img th:src="@{bootstrap/images/juego/carrojuego.png}" alt="">
		</div>
	</div>

	<!-- botones info, mercado y pausa -->
	<div class="flex items-center justify-center absolute top-0 w-full z-10 space-x-4">
		<button type="button" class="bg-gray-800 text-white py-2 px-4 rounded-lg hover:bg-gray-700 text-2xl">
			📋
		</button>
		<a th:href="@{/mercado}">
			<button type="button"
				class="text-black text-2xl bg-yellow-300 font-bold hover:bg-yellow-200 focus:ring-4 focus:ring-blue-300 rounded-lg px-5 py-2.5 focus:outline-none">
				INFORMACIÓN DE MERCADO
			</button>
		</a>
		<button type="button" class="bg-yellow-500 text-white py-2 px-4 rounded-lg hover:bg-yellow-400 text-2xl">
			❓
		</button>
	</div>

	<!-- tirar dados -->
	<div
		class="absolute inset-x-0 bottom-0 flex flex-col items-center space-y-2 p-2 bg-gray-100 rounded-t-lg shadow-md max-w-md mx-auto">
		<!-- Contenedor de dados -->
		<div class="flex items-center justify-center space-x-2">
			<!-- Dados individuales -->
			<div
				class="w-12 h-12 flex items-center justify-center bg-blue-500 text-white font-bold rounded-md shadow-md">
				<p id="dado1" class="text-lg">0</p>
			</div>
			<div
				class="w-12 h-12 flex items-center justify-center bg-blue-500 text-white font-bold rounded-md shadow-md">
				<p id="dado2" class="text-lg">0</p>
			</div>
			<div
				class="w-12 h-12 flex items-center justify-center bg-blue-500 text-white font-bold rounded-md shadow-md">
				<p id="dado3" class="text-lg">0</p>
			</div>
			<div
				class="w-12 h-12 flex items-center justify-center bg-blue-500 text-white font-bold rounded-md shadow-md">
				<p id="dado4" class="text-lg">0</p>
			</div>
			<div
				class="w-12 h-12 flex items-center justify-center bg-blue-500 text-white font-bold rounded-md shadow-md">
				<p id="dado5" class="text-lg">0</p>
			</div>
		</div>
		<!-- Resultado -->
		<div
			class="w-32 h-12 flex items-center justify-center bg-yellow-400 text-gray-900 font-bold rounded-md shadow-md">
			<p id="resultado" class="text-lg">0</p>
		</div>
		<!-- Botón para capturar el resultado -->
		<button onclick="tirarDados()"
			class="px-6 py-2 bg-green-500 text-white font-bold rounded-lg shadow-md hover:bg-green-400">
			Tirar Dados
		</button>
	</div>

	<!-- Espera de jugadores -->
	<div class="w-[200px] bg-cyan-400 p-3 rounded-lg absolute z-50 left-1/2 transform -translate-x-1/2 top-[7%]">
		<p class="text-center mb-2 text-lg">Sala de espera</p>
		<!-- Contenedor de jugadores -->
		<div class="flex justify-between items-center gap-2">
			<!-- Jugador 1 -->
			<div class="w-11 h-11 bg-gray-300 overflow-hidden">
				<img src="https://via.placeholder.com/100" alt="Jugador 1" class="w-full h-full object-contain">
			</div>
			<!-- Jugador 2 -->
			<div class="w-11 h-11 bg-gray-300 overflow-hidden">
				<img src="https://via.placeholder.com/100" alt="Jugador 2" class="w-full h-full object-contain">
			</div>
			<!-- Jugador 3 -->
			<div class="w-11 h-11 bg-gray-300 overflow-hidden">
				<img src="https://via.placeholder.com/100" alt="Jugador 3" class="w-full h-full object-contain">
			</div>
			<!-- Jugador 4 -->
			<div class="w-11 h-11 bg-gray-300 overflow-hidden">
				<img src="https://via.placeholder.com/100" alt="Jugador 4" class="w-full h-full object-contain">
			</div>
		</div>
	</div>

	<!-- tabla de juego -->
	<div class="w-full h-full flex items-center justify-center">
		<!-- Tabla -->
		<div id="tablero" class="grid gap-5">
			<!-- enero -->
			<div class="enero grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-gray-300">Enero</div>
				<div id="1" class="border p-1 text-center bg-gray-100">3</div>
				<div id="2" class="border p-1 text-center bg-gray-100">3</div>
				<div id="3" class="border p-1 text-center bg-gray-100">3</div>
				<div id="4" class="border p-1 text-center bg-gray-100">3</div>
				<div id="5" class="border p-1 text-center bg-gray-100">3</div>
				<div id="6" class="border p-1 text-center bg-gray-100"></div>
				<div id="7" class="border p-1 text-center bg-gray-100"></div>
				<div id="8" class="border p-1 text-center bg-gray-100">3</div>
				<div id="9" class="border p-1 text-center bg-gray-100">2</div>
				<div id="10" class="border p-1 text-center bg-gray-100">2</div>
				<div id="11" class="border p-1 text-center bg-gray-100">2</div>
				<div id="12" class="border p-1 text-center bg-gray-100">2</div>
				<div id="13" class="border p-1 text-center bg-gray-100"></div>
				<div id="14" class="border p-1 text-center bg-gray-100"></div>
				<div id="15" class="border p-1 text-center bg-gray-100">2</div>
				<div id="16" class="border p-1 text-center bg-gray-100">2</div>
				<div id="17" class="border p-1 text-center bg-gray-100">1</div>
				<div id="18" class="border p-1 text-center bg-gray-100">1</div>
				<div id="19" class="border p-1 text-center bg-gray-100">1</div>
				<div id="20" class="border p-1 text-center bg-gray-100"></div>
				<div id="21" class="border p-1 text-center bg-gray-100"></div>
				<div id="22" class="border p-1 text-center bg-gray-100">1</div>
				<div id="23" class="border p-1 text-center bg-gray-100">1</div>
				<div id="24" class="border p-1 text-center bg-gray-100">1</div>
				<div id="25" class="border p-1 text-center bg-gray-100">2</div>
				<div id="26" class="border p-1 text-center bg-gray-100">1</div>
				<div id="27" class="border p-1 text-center bg-gray-100"></div>
				<div id="28" class="border p-1 text-center bg-gray-100"></div>
				<div id="29" class="border p-1 text-center bg-gray-100">2</div>
				<div id="30" class="border p-1 text-center bg-gray-100">2</div>
			</div>
			<!-- febrero -->
			<div class="febrero grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-red-300">Febr</div>
				<div id="31" class="border p-1 text-center bg-gray-100">2</div>
				<div id="32" class="border p-1 text-center bg-gray-100">2</div>
				<div id="33" class="border p-1 text-center bg-gray-100">3</div>
				<div id="34" class="border p-1 text-center bg-gray-100"></div>
				<div id="35" class="border p-1 text-center bg-gray-100"></div>
				<div id="36" class="border p-1 text-center bg-gray-100">3</div>
				<div id="37" class="border p-1 text-center bg-gray-100">3</div>
				<div id="38" class="border p-1 text-center bg-gray-100">3</div>
				<div id="39" class="border p-1 text-center bg-gray-100">3</div>
				<div id="40" class="border p-1 text-center bg-gray-100">3</div>
				<div id="41" class="border p-1 text-center bg-gray-100"></div>
				<div id="42" class="border p-1 text-center bg-gray-100"></div>
				<div id="43" class="border p-1 text-center bg-gray-100">2</div>
				<div id="44" class="border p-1 text-center bg-gray-100">2</div>
				<div id="45" class="border p-1 text-center bg-gray-100">2</div>
				<div id="46" class="border p-1 text-center bg-gray-100">2</div>
				<div id="47" class="border p-1 text-center bg-gray-100">2</div>
				<div id="48" class="border p-1 text-center bg-gray-100"></div>
				<div id="49" class="border p-1 text-center bg-gray-100"></div>
				<div id="50" class="border p-1 text-center bg-gray-100">2</div>
				<div id="51" class="border p-1 text-center bg-gray-100">1</div>
				<div id="52" class="border p-1 text-center bg-gray-100">1</div>
				<div id="53" class="border p-1 text-center bg-gray-100">1</div>
				<div id="54" class="border p-1 text-center bg-gray-100">1</div>
				<div id="55" class="border p-1 text-center bg-gray-100"></div>
				<div id="56" class="border p-1 text-center bg-gray-100"></div>
				<div id="57" class="border p-1 text-center bg-gray-100">2</div>
				<div id="58" class="border p-1 text-center bg-gray-100">2</div>
				<div id="59" class="border p-1 text-center bg-gray-100">1</div>
				<div id="60" class="border p-1 text-center bg-gray-100">1</div>
			</div>
			<!-- marzo -->
			<div class="marzo grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-yellow-300">Marzo</div>
				<div id="61" class="border p-1 text-center bg-gray-100">2</div>
				<div id="62" class="border p-1 text-center bg-gray-100"></div>
				<div id="63" class="border p-1 text-center bg-gray-100"></div>
				<div id="64" class="border p-1 text-center bg-gray-100">2</div>
				<div id="65" class="border p-1 text-center bg-gray-100">2</div>
				<div id="66" class="border p-1 text-center bg-gray-100">2</div>
				<div id="67" class="border p-1 text-center bg-gray-100">3</div>
				<div id="68" class="border p-1 text-center bg-gray-100">3</div>
				<div id="69" class="border p-1 text-center bg-gray-100"></div>
				<div id="70" class="border p-1 text-center bg-gray-100"></div>
				<div id="71" class="border p-1 text-center bg-gray-100">3</div>
				<div id="72" class="border p-1 text-center bg-gray-100">3</div>
				<div id="73" class="border p-1 text-center bg-gray-100">3</div>
				<div id="74" class="border p-1 text-center bg-gray-100">3</div>
				<div id="75" class="border p-1 text-center bg-gray-100">2</div>
				<div id="76" class="border p-1 text-center bg-gray-100"></div>
				<div id="77" class="border p-1 text-center bg-gray-100"></div>
				<div id="78" class="border p-1 text-center bg-gray-100">2</div>
				<div id="79" class="border p-1 text-center bg-gray-100">2</div>
				<div id="80" class="border p-1 text-center bg-gray-100">2</div>
				<div id="81" class="border p-1 text-center bg-gray-100">2</div>
				<div id="82" class="border p-1 text-center bg-gray-100">2</div>
				<div id="83" class="border p-1 text-center bg-gray-100"></div>
				<div id="84" class="border p-1 text-center bg-gray-100"></div>
				<div id="85" class="border p-1 text-center bg-gray-100">1</div>
				<div id="86" class="border p-1 text-center bg-gray-100">1</div>
				<div id="87" class="border p-1 text-center bg-gray-100">1</div>
				<div id="88" class="border p-1 text-center bg-gray-100">1</div>
				<div id="89" class="border p-1 text-center bg-gray-100">1</div>
				<div id="90" class="border p-1 text-center bg-gray-100"></div>
			</div>
			<!-- abril -->
			<div class="abril grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-green-300">Abril</div>
				<div id="91" class="border p-1 text-center bg-gray-100"></div>
				<div id="92" class="border p-1 text-center bg-gray-100">1</div>
				<div id="93" class="border p-1 text-center bg-gray-100">2</div>
				<div id="94" class="border p-1 text-center bg-gray-100">2</div>
				<div id="95" class="border p-1 text-center bg-gray-100">2</div>
				<div id="96" class="border p-1 text-center bg-gray-100">2</div>
				<div id="97" class="border p-1 text-center bg-gray-100"></div>
				<div id="98" class="border p-1 text-center bg-gray-100"></div>
				<div id="99" class="border p-1 text-center bg-gray-100">2</div>
				<div id="100" class="border p-1 text-center bg-gray-100">2</div>
				<div id="101" class="border p-1 text-center bg-gray-100">3</div>
				<div id="102" class="border p-1 text-center bg-gray-100">3</div>
				<div id="103" class="border p-1 text-center bg-gray-100">3</div>
				<div id="104" class="border p-1 text-center bg-gray-100"></div>
				<div id="105" class="border p-1 text-center bg-gray-100"></div>
				<div id="106" class="border p-1 text-center bg-gray-100">3</div>
				<div id="107" class="border p-1 text-center bg-gray-100">3</div>
				<div id="108" class="border p-1 text-center bg-gray-100">3</div>
				<div id="109" class="border p-1 text-center bg-gray-100">4</div>
				<div id="110" class="border p-1 text-center bg-gray-100">4</div>
				<div id="111" class="border p-1 text-center bg-gray-100"></div>
				<div id="112" class="border p-1 text-center bg-gray-100"></div>
				<div id="113" class="border p-1 text-center bg-gray-100">4</div>
				<div id="114" class="border p-1 text-center bg-gray-100">4</div>
				<div id="115" class="border p-1 text-center bg-gray-100">4</div>
				<div id="116" class="border p-1 text-center bg-gray-100">4</div>
				<div id="117" class="border p-1 text-center bg-gray-100">3</div>
				<div id="118" class="border p-1 text-center bg-gray-100"></div>
				<div id="119" class="border p-1 text-center bg-gray-100"></div>
				<div id="120" class="border p-1 text-center bg-gray-100">3</div>
			</div>
			<!-- mayo -->
			<div class="mayo grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-blue-300">Mayo</div>
				<div id="122" class="border p-1 text-center bg-gray-100">3</div>
				<div id="121" class="border p-1 text-center bg-gray-100">3</div>
				<div id="123" class="border p-1 text-center bg-gray-100">3</div>
				<div id="124" class="border p-1 text-center bg-gray-100">3</div>
				<div id="125" class="border p-1 text-center bg-gray-100"></div>
				<div id="126" class="border p-1 text-center bg-gray-100"></div>
				<div id="127" class="border p-1 text-center bg-gray-100">2</div>
				<div id="128" class="border p-1 text-center bg-gray-100">2</div>
				<div id="129" class="border p-1 text-center bg-gray-100">2</div>
				<div id="130" class="border p-1 text-center bg-gray-100">2</div>
				<div id="131" class="border p-1 text-center bg-gray-100">2</div>
				<div id="132" class="border p-1 text-center bg-gray-100"></div>
				<div id="133" class="border p-1 text-center bg-gray-100"></div>
				<div id="134" class="border p-1 text-center bg-gray-100">2</div>
				<div id="135" class="border p-1 text-center bg-gray-100">3</div>
				<div id="136" class="border p-1 text-center bg-gray-100">3</div>
				<div id="137" class="border p-1 text-center bg-gray-100">3</div>
				<div id="138" class="border p-1 text-center bg-gray-100">3</div>
				<div id="139" class="border p-1 text-center bg-gray-100"></div>
				<div id="140" class="border p-1 text-center bg-gray-100"></div>
				<div id="141" class="border p-1 text-center bg-gray-100">3</div>
				<div id="142" class="border p-1 text-center bg-gray-100">3</div>
				<div id="143" class="border p-1 text-center bg-gray-100">4</div>
				<div id="144" class="border p-1 text-center bg-gray-100">4</div>
				<div id="145" class="border p-1 text-center bg-gray-100">4</div>
				<div id="146" class="border p-1 text-center bg-gray-100"></div>
				<div id="147" class="border p-1 text-center bg-gray-100"></div>
				<div id="148" class="border p-1 text-center bg-gray-100">4</div>
				<div id="149" class="border p-1 text-center bg-gray-100">4</div>
				<div id="150" class="border p-1 text-center bg-gray-100">4</div>
			</div>
			<!-- junio -->
			<div class="junio grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-indigo-300">Junio</div>
				<div id="151" class="border p-1 text-center bg-gray-100">3</div>
				<div id="152" class="border p-1 text-center bg-gray-100">3</div>
				<div id="153" class="border p-1 text-center bg-gray-100"></div>
				<div id="154" class="border p-1 text-center bg-gray-100"></div>
				<div id="155" class="border p-1 text-center bg-gray-100">3</div>
				<div id="156" class="border p-1 text-center bg-gray-100">3</div>
				<div id="157" class="border p-1 text-center bg-gray-100">3</div>
				<div id="158" class="border p-1 text-center bg-gray-100">3</div>
				<div id="159" class="border p-1 text-center bg-gray-100">2</div>
				<div id="160" class="border p-1 text-center bg-gray-100"></div>
				<div id="161" class="border p-1 text-center bg-gray-100"></div>
				<div id="162" class="border p-1 text-center bg-gray-100">2</div>
				<div id="163" class="border p-1 text-center bg-gray-100">2</div>
				<div id="164" class="border p-1 text-center bg-gray-100">2</div>
				<div id="165" class="border p-1 text-center bg-gray-100">2</div>
				<div id="166" class="border p-1 text-center bg-gray-100">2</div>
				<div id="167" class="border p-1 text-center bg-gray-100"></div>
				<div id="168" class="border p-1 text-center bg-gray-100"></div>
				<div id="169" class="border p-1 text-center bg-gray-100">3</div>
				<div id="170" class="border p-1 text-center bg-gray-100">3</div>
				<div id="171" class="border p-1 text-center bg-gray-100">3</div>
				<div id="172" class="border p-1 text-center bg-gray-100">3</div>
				<div id="173" class="border p-1 text-center bg-gray-100">3</div>
				<div id="174" class="border p-1 text-center bg-gray-100"></div>
				<div id="175" class="border p-1 text-center bg-gray-100"></div>
				<div id="176" class="border p-1 text-center bg-gray-100">3</div>
				<div id="177" class="border p-1 text-center bg-gray-100">4</div>
				<div id="178" class="border p-1 text-center bg-gray-100">4</div>
				<div id="179" class="border p-1 text-center bg-gray-100">4</div>
				<div id="180" class="border p-1 text-center bg-gray-100">4</div>
			</div>
			<!-- julio -->
			<div class="julio grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-purple-300">Julio</div>
				<div id="181" class="border p-1 text-center bg-gray-100"></div>
				<div id="182" class="border p-1 text-center bg-gray-100"></div>
				<div id="183" class="border p-1 text-center bg-gray-100">4</div>
				<div id="184" class="border p-1 text-center bg-gray-100">4</div>
				<div id="185" class="border p-1 text-center bg-gray-100">5</div>
				<div id="186" class="border p-1 text-center bg-gray-100">5</div>
				<div id="187" class="border p-1 text-center bg-gray-100">5</div>
				<div id="188" class="border p-1 text-center bg-gray-100"></div>
				<div id="189" class="border p-1 text-center bg-gray-100"></div>
				<div id="190" class="border p-1 text-center bg-gray-100">5</div>
				<div id="191" class="border p-1 text-center bg-gray-100">5</div>
				<div id="192" class="border p-1 text-center bg-gray-100">5</div>
				<div id="193" class="border p-1 text-center bg-gray-100">4</div>
				<div id="194" class="border p-1 text-center bg-gray-100">4</div>
				<div id="195" class="border p-1 text-center bg-gray-100"></div>
				<div id="196" class="border p-1 text-center bg-gray-100"></div>
				<div id="197" class="border p-1 text-center bg-gray-100">4</div>
				<div id="198" class="border p-1 text-center bg-gray-100">4</div>
				<div id="199" class="border p-1 text-center bg-gray-100">4</div>
				<div id="200" class="border p-1 text-center bg-gray-100">4</div>
				<div id="201" class="border p-1 text-center bg-gray-100">3</div>
				<div id="202" class="border p-1 text-center bg-gray-100"></div>
				<div id="203" class="border p-1 text-center bg-gray-100"></div>
				<div id="204" class="border p-1 text-center bg-gray-100">3</div>
				<div id="205" class="border p-1 text-center bg-gray-100">3</div>
				<div id="206" class="border p-1 text-center bg-gray-100">3</div>
				<div id="207" class="border p-1 text-center bg-gray-100">3</div>
				<div id="208" class="border p-1 text-center bg-gray-100">3</div>
				<div id="209" class="border p-1 text-center bg-gray-100"></div>
				<div id="210" class="border p-1 text-center bg-gray-100"></div>
			</div>
			<!-- agosto -->
			<div class="agosto grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-pink-300">Agost</div>
				<div id="211" class="border p-1 text-center bg-gray-100">3</div>
				<div id="212" class="border p-1 text-center bg-gray-100">3</div>
				<div id="213" class="border p-1 text-center bg-gray-100">3</div>
				<div id="214" class="border p-1 text-center bg-gray-100">3</div>
				<div id="215" class="border p-1 text-center bg-gray-100">3</div>
				<div id="216" class="border p-1 text-center bg-gray-100"></div>
				<div id="217" class="border p-1 text-center bg-gray-100"></div>
				<div id="218" class="border p-1 text-center bg-gray-100">3</div>
				<div id="219" class="border p-1 text-center bg-gray-100">4</div>
				<div id="220" class="border p-1 text-center bg-gray-100">4</div>
				<div id="221" class="border p-1 text-center bg-gray-100">4</div>
				<div id="222" class="border p-1 text-center bg-gray-100">4</div>
				<div id="223" class="border p-1 text-center bg-gray-100"></div>
				<div id="224" class="border p-1 text-center bg-gray-100"></div>
				<div id="225" class="border p-1 text-center bg-gray-100">4</div>
				<div id="226" class="border p-1 text-center bg-gray-100">4</div>
				<div id="227" class="border p-1 text-center bg-gray-100">5</div>
				<div id="228" class="border p-1 text-center bg-gray-100">5</div>
				<div id="229" class="border p-1 text-center bg-gray-100">5</div>
				<div id="230" class="border p-1 text-center bg-gray-100"></div>
				<div id="231" class="border p-1 text-center bg-gray-100"></div>
				<div id="232" class="border p-1 text-center bg-gray-100">5</div>
				<div id="233" class="border p-1 text-center bg-gray-100">5</div>
				<div id="234" class="border p-1 text-center bg-gray-100">5</div>
				<div id="235" class="border p-1 text-center bg-gray-100">4</div>
				<div id="236" class="border p-1 text-center bg-gray-100">4</div>
				<div id="237" class="border p-1 text-center bg-gray-100"></div>
				<div id="238" class="border p-1 text-center bg-gray-100"></div>
				<div id="239" class="border p-1 text-center bg-gray-100">4</div>
				<div id="240" class="border p-1 text-center bg-gray-100">4</div>
			</div>
			<!-- septiembre -->
			<div class="septiembre grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-gray-300">Sept</div>
				<div id="241" class="border p-1 text-center bg-gray-100">4</div>
				<div id="242" class="border p-1 text-center bg-gray-100">4</div>
				<div id="243" class="border p-1 text-center bg-gray-100">3</div>
				<div id="244" class="border p-1 text-center bg-gray-100"></div>
				<div id="245" class="border p-1 text-center bg-gray-100"></div>
				<div id="246" class="border p-1 text-center bg-gray-100">3</div>
				<div id="247" class="border p-1 text-center bg-gray-100">3</div>
				<div id="248" class="border p-1 text-center bg-gray-100">3</div>
				<div id="249" class="border p-1 text-center bg-gray-100">3</div>
				<div id="250" class="border p-1 text-center bg-gray-100">3</div>
				<div id="251" class="border p-1 text-center bg-gray-100"></div>
				<div id="252" class="border p-1 text-center bg-gray-100"></div>
				<div id="253" class="border p-1 text-center bg-gray-100">4</div>
				<div id="254" class="border p-1 text-center bg-gray-100">4</div>
				<div id="255" class="border p-1 text-center bg-gray-100">4</div>
				<div id="256" class="border p-1 text-center bg-gray-100">4</div>
				<div id="257" class="border p-1 text-center bg-gray-100">4</div>
				<div id="258" class="border p-1 text-center bg-gray-100"></div>
				<div id="259" class="border p-1 text-center bg-gray-100"></div>
				<div id="260" class="border p-1 text-center bg-gray-100">4</div>
				<div id="261" class="border p-1 text-center bg-gray-100">5</div>
				<div id="262" class="border p-1 text-center bg-gray-100">5</div>
				<div id="263" class="border p-1 text-center bg-gray-100">5</div>
				<div id="264" class="border p-1 text-center bg-gray-100">5</div>
				<div id="265" class="border p-1 text-center bg-gray-100"></div>
				<div id="266" class="border p-1 text-center bg-gray-100"></div>
				<div id="267" class="border p-1 text-center bg-gray-100">5</div>
				<div id="268" class="border p-1 text-center bg-gray-100">5</div>
				<div id="269" class="border p-1 text-center bg-gray-100">6</div>
				<div id="270" class="border p-1 text-center bg-gray-100">6</div>
			</div>
			<!-- octubre -->
			<div class="octubre grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-red-300">Oct</div>
				<div id="271" class="border p-1 text-center bg-gray-100">6</div>
				<div id="272" class="border p-1 text-center bg-gray-100"></div>
				<div id="273" class="border p-1 text-center bg-gray-100"></div>
				<div id="274" class="border p-1 text-center bg-gray-100">6</div>
				<div id="275" class="border p-1 text-center bg-gray-100">6</div>
				<div id="276" class="border p-1 text-center bg-gray-100">6</div>
				<div id="277" class="border p-1 text-center bg-gray-100">5</div>
				<div id="278" class="border p-1 text-center bg-gray-100">5</div>
				<div id="279" class="border p-1 text-center bg-gray-100"></div>
				<div id="280" class="border p-1 text-center bg-gray-100"></div>
				<div id="281" class="border p-1 text-center bg-gray-100">5</div>
				<div id="282" class="border p-1 text-center bg-gray-100">5</div>
				<div id="283" class="border p-1 text-center bg-gray-100">5</div>
				<div id="284" class="border p-1 text-center bg-gray-100">5</div>
				<div id="285" class="border p-1 text-center bg-gray-100">4</div>
				<div id="286" class="border p-1 text-center bg-gray-100"></div>
				<div id="287" class="border p-1 text-center bg-gray-100"></div>
				<div id="288" class="border p-1 text-center bg-gray-100">4</div>
				<div id="289" class="border p-1 text-center bg-gray-100">4</div>
				<div id="290" class="border p-1 text-center bg-gray-100">4</div>
				<div id="291" class="border p-1 text-center bg-gray-100">4</div>
				<div id="292" class="border p-1 text-center bg-gray-100">4</div>
				<div id="293" class="border p-1 text-center bg-gray-100"></div>
				<div id="294" class="border p-1 text-center bg-gray-100"></div>
				<div id="295" class="border p-1 text-center bg-gray-100">3</div>
				<div id="296" class="border p-1 text-center bg-gray-100">3</div>
				<div id="297" class="border p-1 text-center bg-gray-100">3</div>
				<div id="298" class="border p-1 text-center bg-gray-100">3</div>
				<div id="299" class="border p-1 text-center bg-gray-100">3</div>
				<div id="300" class="border p-1 text-center bg-gray-100"></div>
			</div>
			<div class="noviembre grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-yellow-300">Nov</div>
				<div id="301" class="border p-1 text-center bg-gray-100"></div>
				<div id="302" class="border p-1 text-center bg-gray-100">3</div>
				<div id="303" class="border p-1 text-center bg-gray-100">4</div>
				<div id="304" class="border p-1 text-center bg-gray-100">4</div>
				<div id="305" class="border p-1 text-center bg-gray-100">4</div>
				<div id="306" class="border p-1 text-center bg-gray-100">4</div>
				<div id="307" class="border p-1 text-center bg-gray-100"></div>
				<div id="308" class="border p-1 text-center bg-gray-100"></div>
				<div id="309" class="border p-1 text-center bg-gray-100">4</div>
				<div id="310" class="border p-1 text-center bg-gray-100">4</div>
				<div id="311" class="border p-1 text-center bg-gray-100">5</div>
				<div id="312" class="border p-1 text-center bg-gray-100">5</div>
				<div id="313" class="border p-1 text-center bg-gray-100">5</div>
				<div id="314" class="border p-1 text-center bg-gray-100"></div>
				<div id="315" class="border p-1 text-center bg-gray-100"></div>
				<div id="316" class="border p-1 text-center bg-gray-100">5</div>
				<div id="317" class="border p-1 text-center bg-gray-100">5</div>
				<div id="318" class="border p-1 text-center bg-gray-100">5</div>
				<div id="319" class="border p-1 text-center bg-gray-100">6</div>
				<div id="320" class="border p-1 text-center bg-gray-100">6</div>
				<div id="321" class="border p-1 text-center bg-gray-100"></div>
				<div id="322" class="border p-1 text-center bg-gray-100"></div>
				<div id="323" class="border p-1 text-center bg-gray-100">6</div>
				<div id="324" class="border p-1 text-center bg-gray-100">6</div>
				<div id="325" class="border p-1 text-center bg-gray-100">6</div>
				<div id="326" class="border p-1 text-center bg-gray-100">6</div>
				<div id="327" class="border p-1 text-center bg-gray-100">5</div>
				<div id="328" class="border p-1 text-center bg-gray-100"></div>
				<div id="329" class="border p-1 text-center bg-gray-100"></div>
				<div id="330" class="border p-1 text-center bg-gray-100">5</div>
			</div>
			<div class="diciembre grid gap-1" style="grid-template-columns: repeat(31, minmax(0, 1fr));">
				<div class="border p-1 text-center bg-green-300">Dic</div>
				<div id="331" class="border p-1 text-center bg-gray-100">5</div>
				<div id="332" class="border p-1 text-center bg-gray-100">5</div>
				<div id="333" class="border p-1 text-center bg-gray-100">5</div>
				<div id="334" class="border p-1 text-center bg-gray-100">5</div>
				<div id="335" class="border p-1 text-center bg-gray-100"></div>
				<div id="336" class="border p-1 text-center bg-gray-100"></div>
				<div id="337" class="border p-1 text-center bg-gray-100">6</div>
				<div id="338" class="border p-1 text-center bg-gray-100">6</div>
				<div id="339" class="border p-1 text-center bg-gray-100">6</div>
				<div id="340" class="border p-1 text-center bg-gray-100">6</div>
				<div id="341" class="border p-1 text-center bg-gray-100">6</div>
				<div id="342" class="border p-1 text-center bg-gray-100"></div>
				<div id="343" class="border p-1 text-center bg-gray-100"></div>
				<div id="344" class="border p-1 text-center bg-gray-100">6</div>
				<div id="345" class="border p-1 text-center bg-gray-100">5</div>
				<div id="346" class="border p-1 text-center bg-gray-100">5</div>
				<div id="347" class="border p-1 text-center bg-gray-100">5</div>
				<div id="348" class="border p-1 text-center bg-gray-100">5</div>
				<div id="349" class="border p-1 text-center bg-gray-100"></div>
				<div id="350" class="border p-1 text-center bg-gray-100"></div>
				<div id="351" class="border p-1 text-center bg-gray-100">5</div>
				<div id="352" class="border p-1 text-center bg-gray-100">5</div>
				<div id="353" class="border p-1 text-center bg-gray-100">6</div>
				<div id="354" class="border p-1 text-center bg-gray-100">6</div>
				<div id="355" class="border p-1 text-center bg-gray-100">6</div>
				<div id="356" class="border p-1 text-center bg-gray-100"></div>
				<div id="357" class="border p-1 text-center bg-gray-100"></div>
				<div id="358" class="border p-1 text-center bg-gray-100">6</div>
				<div id="359" class="border p-1 text-center bg-gray-100">6</div>
				<div id="360" class="border p-1 text-center bg-gray-100">6</div>
			</div>
		</div>
	</div>

	<script th:src="@{/bootstrap/js/JuegoPrin.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
</body>

</html>