<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="icon" href="favicon.ico" />

<title>INICIO-vista</title>
<!-- Bootstrap core CSS -->
<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
<!-- Custom styles for this template -->
<link th:href="@{bootstrap/css/jumbotron.css}" rel="stylesheet" />
<!--<link href="@{bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet" /> -->
<link rel="stylesheet" th:href="@{bootstrap/css/inicio.css}" />
</head>

<body>
	<!--<div class="card" style="width: 18rem;">
		<img src="..." class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">Card title</h5>
			<p class="card-text">Some quick example text to build on the card
				title and make up the bulk of the card's content.</p>
			<a href="#" class="btn btn-primary">Go somewhere</a>
		</div>
	</div> -->
	<main class="fondo">
		<article class="contenedor">
			<h1 class="titulo">CHALLENGE</h1>
			<section class="contenedor_img">
				<img th:src="@{/bootstrap/images/fondo2.jpg}" alt="imgInicio2" />
			</section>
			<section class="botones">
				<a th:href="@{inicio/jugadores}">Nuevo Juego</a> <a
					href="https://www.doctums.com/" target="_blank">Sobre Doctums</a>
			</section>
		</article>
	</main>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
